node_modules/
.env
dist/
coverage/
.DS_Store
.vscode/
npm-debug.log
yarn-error.log
.idea/
logs/
*.log
uploads/
temp/
.cache/
*.sqlite
*.db
*.iml
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.class
*.exe
*.dll
*.so
*.dylib